# ---------------------------
# Maven
# ---------------------------
/target/
target
/dependency-reduced-pom.xml
/release.properties
/.mvn/wrapper/maven-wrapper.jar

# ---------------------------
# Java
# ---------------------------
*.class
*.jar
*.war
*.ear
*.log

# ---------------------------
# IDEs
# ---------------------------
.vscode/
.idea/
*.iml
*.ipr
*.iws

# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Backup / temp files
# ---------------------------
*.swp
*.swo
*~
*.bak

# ---------------------------
# Jenkins
# ---------------------------
/workspace/
/.jenkins/
/jenkins_home/
/builds/
/jobs/
/queue/
/secrets/
/users/

# Pipeline-related temp files
*.hpi
*.jpi
